<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav d-flex">
            <li class="nav-item">
                <a class="nav-link" href="">Rejestracja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Logowanie</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid jumbotron-home">
    <div class="container" style="text-align: center">
        <h1 class="display-4">Login</h1>
        <p class="lead">Login to access </p>
    </div>
</div>
<div class="container">
    <img th:id="erricon" th:src="@{/img/error.png}" alt="error" src="../static/img/error.png">
    <h1 class="display-1 text-center">404</h1>
    <h2 class="text-center display-4" th:text="${message}"></h2>
</div>
</body>
</html>

