<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="jumbotron jumbotron-fluid jumbotron-home">
    <div class="container" style="text-align: center">
        <div class="mynav d-flex">
            <div class="text-white pl-1">Rejestracja</div>
            <div class="text-white pl-3">Logowanie</div>
        </div>
        <h1 class="display-4">Login</h1>
      </div>
</div>
<div class="container">
    <img th:id="erricon" th:src="@{/img/error.png}" alt="error" src="../static/img/error.png">
    <h1 class="display-1 text-center">404</h1>
    <h2 class="text-center display-4" th:text="${message}"></h2>
</div>
</body>
</html>

