<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rejestracja udana</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>


<div class="jumbotron jumbotron-fluid jumbotron-home">
    <div class="mynav d-flex">
        <div class="text-white pl-1">Rejestracja</div>
        <div class="text-white pl-3">Logowanie</div>
    </div>
    <div class="container" style="text-align: center">
        <h1 class="display-4">Blog</h1>
    </div>
</div>
<div class="container">
    <h1 class="display-4 pt-5 text-center">Twój adres email został potwierdzony.</h1>
</div>
</body>
</html>